@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

.header-logo {
    width: 30vmin;
    height: 20vmin;
  }
  
  .header-header {
    background-image: url('../assets/images/header.jpg');
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .bienvenue {
    margin: 20px;
    font-family: 'Merienda', cursive;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu link {
    justify-content: space-around;
    color: #b2df1e;
    text-decoration: none;
  }
  